/* .redes{
    background-image: url('../images/HOME/facebook-icon.png');
    background-repeat: no-repeat;
    background-position-x: right
} */
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



.container_principal{
   width: 810px;
   display: block;
   margin: 0 auto;
   background-image: url('../images/HOME/bg-home.jpg');
   background-size: cover;
   
    }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  

header figure {
    margin-bottom: 10px;
    width: 170px;
    margin-left: 30px;
    margin-top: 10px;
}

.logotipo {
    width: 100%;
}

.container_principal figure{
    margin: 0;

}

.redes{
    margin: 0;
    padding: 0;
}
.redes li{
    display: inline-block;
    margin: 10px;
}

.menu{
      
    background-image: url('../images/menu.png');
    display: flex;
    width: 810px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.menu ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.menu li {
    display: inline-block;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.bio{
    margin-left: 81px;
}
.noti{
    margin-left: 46px;

}
.fotos{
    margin-left: 46px;
}
.vid{
    margin-left: 46px;
}
.mus{
    margin-left: 46px;
}
.triv{
    margin-left: 46px;
    margin-right: 82px;
      
}
/* .menu figure{
    margin: 0px;
    display: inline-block;
    width: 0px;
} */
.primer_seccion{
    
    display: block
}
.primer_seccion h1, .primer_seccion h2{
    color: white;
    margin: 5px;
    font-size: 25px;
    font-weight: 400;
    
}
    .primer_seccion h2 {
        font-size: 20px;  
        font-weight: bold;
    }


.info_sencillo{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.contenedor_portada{
   
    display: inline-block;
    width: 50%;
}
    .contenedor_portada figure{
        margin:0 auto;
        display:  block;
        width: 250px;
    }
        .contenedor_portada figure img{
            width: 100%;
        }

.info_sencillo{
    display: inline-block;
    
    width: 49%;
}

.contenido_centrado {
    display: block;
    text-align: center;

}

.contenedor_plataforma {
    display: block;
    margin: 0 auto;
    width: 65%;
    padding: 0;


}

.contenedor_plataforma li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;

}